@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutHome_ui_v1.cshtml";
}

<div class="col s12">
    <div class="container">
        <div id="login-page" class="row">
            <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                <form id="frmPasswordForgot" class="login-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="card-content white-text center">
                                <img src="~/asset_default/app-assets/images/logo/login-logo.png" class="responsive-img" alt="Materialize">
                            </div>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <h5 class="font-weight-light">Please check your email to reset your password.</h5>
                            <h6 class="font-weight-light">Your password has been successfully reset</h6>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="form-line">
                            <label class="form-label">Click the link in your email address to enter your new email address </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <a id="idPasswordForgot" class="btn waves-effect waves-light border-round gradient-45deg-green-deep-green col s12">Ok</a>                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section CSS {
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/login.css">
}

@section Scripts {
    <script>
        //Call function to load data
        $(document).ready(function () {
            $('#idPasswordForgot').click(function () {
                document.getElementById('frmPasswordForgot').submit();
            });
        });
    </script>
}

