@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutHome_ui_v1.cshtml";
}

<div class="col s12">
    <div class="container">
        <div id="login-page" class="row">
            <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                <form id="frmLogin" class="login-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <input asp-for="Input.Id" type="hidden" />
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="card-content white-text center">
                                <img src="~/asset_default/app-assets/images/logo/login-logo.png" class="responsive-img" alt="Materialize">
                            </div>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <h6 class="font-weight-light">Reset your password.</h6>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-2">person_outline</i>
                            <input asp-for="Input.UserName" type="text">
                            <label asp-for="Input.UserName" class="center-align">

                            </label>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-2">lock_outline</i>
                            <input asp-for="Input.Email" type="email">
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-2">lock_outline</i>
                            <input asp-for="Input.Password" type="password">
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-2">lock_outline</i>
                            <input asp-for="Input.ConfirmPassword" type="password">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-green-deep-green col s12">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section CSS {
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/login.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
