<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>APRP System</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/ui_v3/css/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/ui_v3/css/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/ui_v3/css/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->

    <link rel="stylesheet" href="~/ui_v3/css/style.css">
    <link rel="stylesheet" href="~/ui_v3/css/design.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/ui_v3/images/log.png" />

    @RenderSection("CSS", required: false)

</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper-ulizi d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="btn btn-weka" href="#">
                            <span class="nav-profile-name">Log in</span>
                        </a>

                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                @RenderBody()
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/ui_v3/css/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/ui_v3/js/off-canvas.js"></script>
    <script src="~/ui_v3/js/hoverable-collapse.js"></script>
    <script src="~/ui_v3/js/template.js"></script>
    <!-- endinject -->

    @RenderSection("Scripts", required: false)

</body>
</html>
