@model APRP.Web.Domain.Models.TrainingCourse

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
@section vendorCss
{
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/data-tables/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/vendors/dropify/css/dropify.min.css">
}

@section customCss
{
    <link rel="stylesheet" type="text/css" href="~/asset_default/app-assets/css/pages/app-chat.css">
    <link href="~/asset_default/app-assets/vendors/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" />
}


<div class="chat-application">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">

                    <form id="idAddEditTrainingCourse" asp-action="AddEditTrainingCourse" asp-route-id="@Model.ID" onsubmit="return JQueryAjaxPost2(this);" autocomplete="off">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="UpdateBy" />
                        <input type="hidden" asp-for="UpdateDate" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreationDate" />
                        <div class="row">
                            <div class="col s6 m6">
                                <div class="input-field">
                                    <label asp-for="Course" class="control-label"></label>
                                    <input asp-for="Course" class="form-control" />
                                    <span asp-validation-for="Course" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col s6 m6">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section vendorJS
{
    <script src="~/asset_default/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/asset_default/app-assets/vendors/dropify/js/dropify.min.js"></script>

}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            username = $('#applicationUser_UserName').val();

            $.ajax({
                method: "POST",
                url: "/UserManagement/GetShortName",
                datatype: "json",
                data: {}
            })
                .done(function (data) {
                    //write json array object
                    console.log(data);
                    //Set Road Section ID to null

                    $("#idSpan").text(data.sn);
                    var Val1 = $("#idHomeAuthority").text();
                    $("#idHomeAuthority").text(Val1 + "-" + data.authorityCode);$("#idGlobalAuthority").text(data.authorityName); 
                });
        });
    </script>

}