@model APRP.Web.ViewModels.ApplicationRoleViewModel

<table class="subscription-table responsive-table striped" id="page-length-option2">
    <thead>
        <tr>
            <th>
                Claim Type
            </th>
            <th>
                Claim Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoleClaims)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a onclick="ShowinPopUp('@Url.Action("RemovePermissionFromRole","Permissions", new { Claim = item.Value,RoleId=Model.ApplicationRole.Id },Context.Request.Scheme)','Remove Permission')">
                        <i class="material-icons pink-text">delete</i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
