<footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container">
            <span>
                &copy; 2019
                <a href="http://themeforest.net/user/KiriConsult & NatureSurf/portfolio?ref=KiriConsult & NatureSurf" target="_blank">KiriConsult & NatureSurf</a> All rights reserved.
            </span>
            <span class="right hide-on-small-only">
                Design and Developed by
                <a href="https://KiriConsult & NatureSurf.com/">
                    KiriConsult & NatureSurf
                </a>
            </span>
        </div>
    </div>
</footer>