<footer class="page-footer footer footer-static cyan navbar-border navbar-shadow">
    <div class="container">
        <div class="row section">
            <div class="col l6 s12">
                <h5 class="white-text">Road Network</h5>
                <p class="grey-text text-lighten-4">World map, world regions, countries and cities.</p>
                <div id="world-map-markers"></div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Performance by Agencies</h5>
                <p class="grey-text text-lighten-4">Performance by each Road Agency.</p>
                <div id="polar-chart-holder"></div>
                <canvas id="polar-chart" width="200"></canvas>
            </div>
        </div>
    </div>
    <div class="page-footer pt-0 footer-light">
        <div class="footer-copyright">
            <div class="container">
                <span></span>&copy; 2019
                <a href="#" target="_blank">KiriConsult & NatureSurf</a> All rights reserved.
                <span class="right hide-on-small-only"></span>
                Design and Developed by
                <a href="https://KiriConsult & NatureSurf.com/">KiriConsult & NatureSurf</a>
            </div>
        </div>
    </div>
</footer>